    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type ="module" src="/javascripts/comments.js" ></script>

<h2>{{recipes.name}}</h2>
<ul>
    <li>Description: {{recipes.description}} </li>
    <li>Temperature: {{recipes.temperature}} </li>
    <li>Grind: {{recipes.grind}} </li>
    <li>Weight: {{recipes.weight}}</li>
    <li>Water: {{recipes.water}}</li>
    <li>Extraction: {{recipes.extraction}}</li>
    <li>Infusion
        <ol>
            {{#each recipes.infusion}}
            <li>{{this.volume}} mL during {{this.time}} seconds</li>
            {{/each}}
        </ol>
    </li>
</ul>

<h2>User comments</h2>
{{> ulist comments}}

<form action="comment/{{_id}}" method="post"><h2>Add your comments!</h2>
    <input type="text" id="comment" name="content" value="add your comments">
    <input id="recipe" type="hidden" name="recipe" value="{{recipes._id}}">
</form>
<button type="button" id="btn-comment">Comment</button>